table{
    width: 100%;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid gray;
    padding: 10px;
}

.table-blue th{
    background-color: #2196f3;
    color: white;
}

.table-red th{
    background-color: rgb(255, 76, 76);
    color: white;
}

table th{
    text-align: left;
}

table tr:nth-of-type(odd){
    background-color: #e6e3e3;
}

table tr:hover{
    background-color: rgb(182, 179, 179);
}
