img{
    width: 40%;
    margin: 2%;
}

#img1{
    float: right;
}

#img2{
    float: left;
}

.class1, .class2{
    overflow: auto;
}

p.class1, p.class2 {
    border: 1px solid red;
}